/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #f32a76;
  --secondary-color: #34dbe3;
  --primary-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

html, body {
  height: 100%;
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #ffffff;
  width: 90dvw;
  height: 90dvh;
  max-width: 700px;
  max-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: var(--primary-radius);
}

.card {
  width: 70px;
  height: 70px;
  margin: 5px;
  text-align: center;
  align-content: center;
  box-shadow: 0 0 3px #3e3e3e;
  border-radius: var(--primary-radius);
  font-weight: bold;
  cursor: pointer;
}

.card:hover {
  border: 1px solid var(--primary-color);
}
