/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #f32a76;
  --secondary-color: #34dbe3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: linear-gradient(var(--primary-color), var(--secondary-color));
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #ffffff;
  width: 100dvw;
  height: 100dvh;
  max-width: 700px;
  max-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
